.headerIndex {
    position: relative;
    height: 100vh;
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        object-fit: cover;
        object-position: center;
    }
}

// black filter on the video

.headerIndex:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-color: #0005;
}

// navbar

nav {
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 0px 5px;
    img {
        height: 50px;
    }
    .menu {
        padding: 0;
        display: none;
        align-items: center;
        font-size: 2rem;
        &__element {
            display: block;
            padding: 4px 15px;
        }
        &__element a{
            text-decoration: none;
            color: #fff;
            transition: .3s all ease-in-out;
        }
        &__element:not(:nth-of-type(1)):hover a{
            color: #0744af;
        }
        i {
            color: #fff;
        }
    }

    
    .menu-burger{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div {
            height: 2px;
            width: 24px;
            background: #fff;
            border-radius: 3px;
        }
    }
    @media screen and (min-width:1220px) {
        padding: 10px 50px 10px 50px;
        img{
            height: 90px;
        }
        .menu-burger {
            display: none;
        }
        .menu {
            display: flex;
        }
    }
}

// modif navbar for other index

.headerOther{
    .menu__element a{
        color: #000;
    }
    .menu i {
        color: #000;
    }
    .menu-burger div {
        background-color: #000;
    }
}


// txt in header hero

.headerContent {
    margin: 30rem 0 0 0;
    padding: 0 3rem;
    &__title{
        font-size: 2.4rem;
        color: #fff;
        margin: 0 0;
    }
    p {
        font-size: 1.5rem;
        color: #fff;
    }
    &__buttons {
        display: none;
        margin-top: 4rem;
        & > * {
            padding: 1.4rem 3rem;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            font-size: 1.4rem;
            text-transform: uppercase;
        }
        &--blue {
            background-color: #0744af;
        }
        &--black {
            background-color: #000;
            margin: 1rem;
        }
    }
    @media screen and (min-width:701px) {
        margin: 25rem 0 0 0;
        &__buttons {
            display: inline-block;
        }
        &__title{
            font-size: 5.6rem;
        }
        p {
            font-size: 2rem;
        }
    }
    @media screen and (min-width:1200px) {
        margin: 20rem 0 0 0;
        &__title{
            font-size: 8rem;
        }
        p {
            font-size: 2.2rem;
        }
    }
}

// banner in mobile version

.callBanner {
    position: fixed;
    bottom: 0;
    background-color: #0744af;
    border-top: solid 1px #fff;
    width: 100%;
    padding: 12px 10px;
    text-align: center;
    z-index: 100;
    & > * {
        color: #fff;
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0 .5rem;
        transition: .3s all ease-in-out;
    }
    &:hover i{
        scale: 1.2;
    }
    & a:hover{
        text-decoration: underline;
        color: #FFD700;
        border-bottom: solid 1 px #FFD700;
    }
    @media screen and (min-width:651px) {
        display: none;
    }
}

// accessibylity Menu

.accessmenu {
    position: fixed;
    font-size: 4.4rem;
    left: 1rem;
    bottom: 1rem;
    color: #006595;
    transition: .3s all ease-in-out;
    background-color: #fff;
    border-radius: 100%;
    border: solid 2px #006595;
    outline: solid 2px #fff;
    outline-offset: -5px;
    z-index: 100;
}

.accessmenu:hover {
    scale: 1.2;
}