// section under header hero

.trial {
    position: relative;
    padding: 50px 10px;
    &__content {
        text-align: center;
    }
    &__prev {
        color: #0744AF;
        font-size: 1.7rem;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__title {
        font-size: 3rem;
        margin-top: 0;
    }
    p {
        font-size: 1.8rem;
        color: #555;
        a{
            color: #0744AF;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .citation {
        padding: 2.5rem;
        text-align: center;
        p {
            color: #0744AF;
            font-size: 2.4rem;
        }
        span {
            color: #0744AF;
            font-size: 1.8rem;
            font-style: italic;
            font-weight: bold;
        }
        margin-bottom: 2rem;
    }
    @media screen and (min-width:806px){
        &__content {
            text-align: left;
        }
        .citation p{
            font-size: 3rem;
        }
    }
    @media screen and (min-width:1024px){
        & > .wrapper {
            display: flex;
        }
        &__title {
            font-size: 3.7rem;
        }
    }
    @media screen and (min-width:1920px){
        &__title {
            font-size: 6rem;
        }
    }
}

// background image under header

.trial::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(./../img/shutterstock_2413843309.jpg);
    opacity: 30%;
    z-index: -1;
}

// section presentation with round picture

.presentation {
    background-color: #0744AF;
    padding: 6rem 1rem;
    &__image {
        position: relative;
        margin-bottom: 1rem;
        // rounded image
        img {
            width: 240px;
            display: block;
            margin: 1.5rem auto;
            border-radius: 100%;
            box-shadow:0 0 0 1.5rem #3969bf;
        }
        // name in picture
        span {
            position: absolute;
            bottom: 1rem;
            font-size: 1.4rem;
            left: 50%;
            transform: translate(-50%, 0);
            color: white;
            padding: 10px 20px;
            border-radius: 20px;
            background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(0, 101, 149, 1) 100%);;
        }
    }
    &__content {
        color: #fff;
        text-align: center;
    }
    &__prev {
        font-size: 1.8rem;
        display: block;
        margin-top: 3.5rem;
    }
    p {
        font-size: 1.8rem;
    }
    &__title {
        margin-top: 0;
        font-size: 2.4rem;
    }
    // butten meet our attorney
    a {
        display: inline-block;
        margin: .6rem 0 1.5rem;
        text-decoration: none;
        color: #000;
        background-color: #fff;
        padding: 1rem 1.5rem;
        border-radius: 4px;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        text-transform: uppercase;
        font-weight: normal;
        transition: .3s all ease-in-out;
    }
    a:hover{
        background-color: #000;
        color: #fff;
    }
    @media screen and (min-width:806px){
        &__content {
            text-align: left;
        }
    }
    @media screen and (min-width:1024px){
        & > .wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
        }
        &__image img {
            width: 360px;
        }
        &__title {
            font-size: 2.8rem;
        }
        &__prev {
            margin-top: 0;
        }
    }
}

// 12 cards section

.services {
    padding: 5rem 2rem;
}

// text before cards

.servicesTxt {
    position: relative;
    text-align: center;
    padding: 5rem 0;
    &__prev {
        font-size: 1.7rem;
        color: #0744AF;
    }
    &__title {
        font-size: 3rem;
        margin-top: 0;
    }
    p {
        font-size: 1.8rem;
        color: #555555;
    }
    @media screen and (min-width:806px){
        text-align: left;
    }
    @media screen and (min-width:1250px){
        &__title {
            font-size: 4.2rem;
        }
    }
    @media screen and (min-width:1920px){
        &__title {
            font-size: 6rem;
        }
    }
}

.servicesTxt::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./../img/bg-logo-faded-mark-400x400.png);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 50%;
    @media screen and (min-width:768px){
        background-position: left;
    }
}

// 12 cards

.cardServices {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    @media screen and (min-width:768px){
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width:1367px){
        grid-template-columns: repeat(3, 1fr);
    }
}

.cardService {
    padding: 2rem;
    background-color: #F3F5F9;
    box-shadow: 0 0 1em #0002;
    transition: .3s all ease-in-out;
    border-radius: 4px;
    &__title {
        font-size: 2.4rem;
        margin: 1rem 0;
        font-weight: normal;
    }
    p{
        font-size: 1.6rem;
        margin-bottom: 2.4rem;
    }
    .hoverbar {
        width: 20%;
        height: 4px;
        background-color: #80808050;
        margin: 1rem 0;
        transition: .3s all ease-in-out;
    }
    &__more {
        color: #0744AF;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        i {
            margin-right: .6rem;
        }
    }
}

// special card

.cardService__black {
    background-color: #222;
    color: #fff;
    a{
        color: #fff;
    }
}

.cardService:hover{
    margin: -1rem 0 1rem;
    .hoverbar {
        width: 100%;
        background-color: #0744AF;
    }
    // no-hover is for the special card
    p:not(.no-hover){
        color: #0744AF;
    }
}
.cardService__more:not(.no-hover):hover {
    color: #000;
    i{
        color: #0744AF;
    }
}

// carousel of 6 pictures

.imgCarousel {
    background-color: #0744AF;
    & > .wrapper {
        display: grid;
        margin: 0 auto;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
        padding: 5rem 2rem;
    }
    &-max3, &-all {
        display: none;
    }
    @media screen and (min-width:600px){        
        & > .wrapper {
            grid-template-columns: repeat(3, 1fr);
            gap: 5rem;
        }
        &-max3 {
            display: block;
        }
    }
    @media screen and (min-width:1215px){        
        & > .wrapper {
            grid-template-columns: repeat(6, 1fr);
            gap: 5rem;
        }
        &-all {
            display: block;
        }
    }
}

// 3 txt articles

.lastArticle {
    position: relative;
    padding: 10rem 2rem;
    & > .wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    @media screen and (min-width:1224px){
    padding: 3.5rem;
        & > .wrapper{
            grid-template-columns: repeat(3,1fr);
            gap: 3rem;
        }
        
    }
}

.article {
    text-align: center;
    color: #fff;
    margin-bottom: 2.4rem;
    &__title {
        font-size: 2rem;
        color: #fff;
        text-decoration: none;
        font-family: "poppins", sans-serif;
        display: inline-block;
        margin: 0 0 1.6rem;
        font-weight: bold;
    }
    &__title:hover {
        text-decoration: underline;
    }
    &__date {
        font-size: 1.2rem;
        margin: 0 0 2.4rem;
        text-transform: uppercase;
        display: inline-block;
    }
    p{
        font-size: 1.5rem;
        margin: 0 0 2.4rem;
    }
    &__button {
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: .8rem 2rem;
        margin: 0 0 1.6rem;
        display: inline-block;
        background-color: #0744AF;
        font-size: 1.4rem;
        letter-spacing: .2rem;
        font-family: "poppins", sans-serif;
        // ajouter montserrat si le temps
        transition: .3s all ease-in-out;
        i{
            font-size: 1rem;
            margin-left: 1rem;
        }
    }
    &__button:hover {
        color: #0744AF;
        background-color: #fff;
    }
    @media screen and (min-width:806px){
        text-align: left;
    }
    @media screen and (min-width:1920px){
        &__title {
            font-size: 2.6rem;
        }
    }
}

.lastArticle::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./../img/shutterstock_2314958033.jpg);
    background-position: center;
    background-attachment: fixed;
    z-index: -2;
    opacity: 90%;
}

.lastArticle::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0744AFcf;
    z-index: -1;
}